<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Atd.UI.Properties.Settings.cangkudDBConnectionString"
             connectionString="Data Source = WG; Initial Catalog = cangkuDB; Integrated Security = True"
             providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>